{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
   <header>
    <a href="#" class="logo"></a>
    <div class="bx bx menu" id="menu-icon"></div>
    <ul class="heading">
     
        <li><a href="#Home">Home</a></li>
        <li><a href="#Images">Images</a></li>
        <li><a href="#About">About</a></li>
      
    </ul>
   </header>
   <section class="Home" id="Home">
    <div class="home-text">
         <br><br>
         <h2>Photography World</h2>
        </div>
    <div class="home-image">
        <img src="{%static 'images/girl.jpg'%}" alt="">

    </div> 
   </section>
  <footer> 
   <div class="time">
    <h3>"Capturing the beauty of your journey".</h3>
    <h5>opposite to D'mart <br>Sulthan Bathery</h5>
   </div>
</footer> 


<section class="Images">
    <h2 id="Images">Images</h2>
    <div class="container">
    <div class="grid-item"><img src="{%static 'images/1.jpg'%}" alt=""></div>
    <div class="grid-item"><img src="{%static 'images/2.jpg'%}" alt=""></div>
    <div class="grid-item"><img src="{%static 'images/3.jpg'%}" alt=""></div>
    <div class="grid-item"><img src="{%static 'images/4.jpg'%}" alt=""></div>
    <div class="grid-item"><img src="{%static 'images/girl.jpg'%}" alt=""></div>
    <div class="grid-item"><img src="{%static 'images/girl.jpg'%}" alt=""></div>
    <div class="grid-item"><img src="{%static 'images/girl.jpg'%}" alt=""></div>
    <div class="grid-item"><img src="{%static 'images/girl.jpg'%}" alt=""></div>
    <div class="grid-item"><img src="{%static 'images/girl.jpg'%}" alt=""></div>

</div>
</section>

<section>
    <h2 id="About">About Us</h2><br><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nisi sunt, incidunt enim officiis ullam in deserunt aut quidem minima, soluta cumque corporis saepe. Accusamus, deserunt necessitatibus! Maiores, sapiente. Tempora.</p>

</section>



</body>
</html>
